<div class="row">
  <div class="container">
    <div class="text-center">
      <h1 id="home"><%= link_to "A Map of China", root_path %></h1>
      <div class="center-block" id="about">
        <p id="about-me">
          This site was created by Chris Callahan. You can find him via:<br><%= link_to "blog", "http://callahanchris.github.io", target: "_blank" %><%= link_to "github", "https://github.com/callahanchris", target: "_blank" %><%= link_to "twitter", "https://twitter.com/_c_cal", target: "_blank" %>
        </p>
        <!-- <br> -->
        <p id="about-sources">
          The background image is of the western slope of Chang Bai Mountain in Jilin Province. It is used under the <%= link_to "Creative Commons license", "https://creativecommons.org/licenses/by/2.0/legalcode" %>.
          <br>
          The map of China is from the <%= link_to "jVectorMap", "http://jvectormap.com/" %> library, developed by Kirill Lebedev.
          <br>
          All data displayed comes from <%= link_to "Wikipedia", "http://www.wikipedia.org/" %>.
        </p>
      </div>
      <div id="home">
        
      </div>
    </div>
  </div>
</div>